<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Landmarks.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6EF4961ED84A64012D1DC15552264391F4AE4F66</string>
				<key>dateExpires</key>
				<string>2023/09/04</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5TXX7B273Y.github.com.djmin43.Landmarks</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>5TXX7B273Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Landmarks.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>19c1d396-45e9-464c-a071-9c5cff37dc7b</string>
				<key>dateExpires</key>
				<string>2023/09/04</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: github.com.djmin43.Landmarks</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5TXX7B273Y</string>
				<key>name</key>
				<string>Dongjoon Min</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
